/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


body {
	width: 85%;
	margin: auto;
}

nav {
	/* border: 1px solid red;  */
	width: 100%; 
	margin: auto;
	top: auto; 
	padding: 10px 0px 10px 0px;
	background-color: dodgerblue;   
}

.nav {
	/* border: 1px solid blue;  */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;   
}

.nav li {
	/* border: 1px solid blue;  */
	padding: 10px;
	padding-left: 0px; 
	flex-grow: 1;   
}

.logo {
	margin-left: 5%;
}

.cta-container {
	padding: 0% 0% 0% 0%; 
	display: flex;
	justify-content: space-between;
	background-color: green; 
}

.cta-box {
	border: 1px solid red; 
	width: 48%;
	margin: auto; 
	text-align: center; 
	
}

.cta {
	border: 1px solid red; 
	margin: auto
}

.cta h1 {
	font-size: 5em; 
}

.splash-img { 
	border: 1px solid red; 
	width: 48%;
	height: auto;
	padding: 4% 0% 4% 4%; 
}


.feature {
	/* border: 1px solid red; */
	display: flex; 
	justify-content: space-between; 
}

.f-top {
	padding: 5px; 
}

.f-bottom {
	padding: 5px; 
}

.middle-img {
	width: 100%; 
}

address, a {
	display: flex; 
	flex-direction: column; 
	text-decoration: none; 
	padding: 5px 0px 5px 0px; 
	color: black; 
}

footer {
	text-align: center; 
	margin: 50px; 
	border: 1px solid blue; 
}


/* Service Page */

.service-header-img {
	width: 100%; 
}

.service {
	margin: 3% 0% 3% 0%;
}

.service-container {
	display: flex; 
	justify-content: space-between; 
	flex-wrap: wrap;
	margin: 3% 0% 3% 0%;  
}

.service-box {
	border: 1px solid black;
	margin: 2% 0% 2% 0%;    
	max-width: 48%;
	padding: 2%;  
}

.service-footer {
	display: flex; 
	justify-content: space-between;
	width:100%;
	height:auto;
	margin-top: 3%;
}

.service-footer-left {
	max-width: 49%; 
	padding-right: 2%; 
}

.services-info-img {
	width: 49%;
	height: auto; 
}


ul.b {
	list-style-type: square;
	padding-left: 6%; 
}
